source/server/node_modules
source/server/package-lock.json
source/server/databaseCredentials.json
source/client/node_modules
source/client/package-lock.json
source/client/build
proofOfConcept/package-lock.json
proofOfConcept/node_modules
